################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs/Sudoku/v16
/src/Sudoku/bin/Debug/netcoreapp3.1
/src/Sudoku/obj
